body {
	/* REPSONSIVE LAYOUTS */
	width:90%; /* We want the width to be 90% */
	max-width:60em; /* This gives the content some limits */
	}
	
.wrapper {
	overflow:hidden;}
	
.content {
	width:65%;
	float:left;
	}
	
.sidebar {
	width:30%;
	float:right;
	}